@import "../../../../core/config/theme.scss";



/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconAssets {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconAssets .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* ----------------------------------------------
	Asset form elements
   ---------------------------------------------- */
.assetsButtons {
	padding:10px;
    
	button {
		&.upload .icon,
		button.buttonUploadAsset .icon {
			width:24px;
		}

		&.downloadSelection .icon {
			background:url(../../../../core/asset/img/icons.png) no-repeat 5px -237px;
			width:22px;
		}
	}
}

button {
	&.buttonDeleteAsset .icon {
		background:url(../../../../core/asset/img/icons.png) no-repeat 3px -357px;
	}

	&.buttonUploadAsset .icon {
		background:url(../../../../core/asset/img/icons.png) no-repeat 5px -1692px;
	}
}

.directUploadForm {
	left:-200px;

	input[type=file] {
		cursor:pointer;
		font-size:18px;
	}
}

form.directUploadBox,
div.directUploadBox .fField {
	opacity:0.0;	//0.001;
	overflow:hidden;
	position:absolute;
	width:340px;
	z-index:50;
}

.directUploadBox {
	input.upload {
		cursor: pointer;
		background: url(../../../../core/asset/img/icons.png) no-repeat 5px -1692px;;
	}
}

.uploadProgress {
	display:inline-block;
	margin-left:50px;

	.cancelUpload {
		background:url(../../../../core/asset/img/icons.png) no-repeat 0 -360px;
		cursor:pointer;
	}
}



/* ----------------------------------------------
	Task inline upload form
   ---------------------------------------------- */
.inlineAssetUpload {
	.fieldnameDelete,
	.inlineAssetUpload .fieldnameUpload {
		float:left;
		width:auto;
	}

	.fieldnameDelete .fField,
	.inlineAssetUpload .fieldnameUpload .fField {
		width:auto;
	}

	.fieldnameDelete .fLabel {
		width:0;
	}
}



/* ----------------------------------------------
	List
   ---------------------------------------------- */
.assetList {
	.assets-table-header {
		background:$colorCorporate01 url(../../../../core/asset/img/bg-tabheader.png) repeat-x 0 top;
	}

	.checkbox {
		width:30px;
	}

	.mimetype {
		width:30px;
	}

	.filename {
		width:300px
	}

	.person {
		width:120px;
	}

	.filesize {
		width:50px;
	}

	.uploaddate {
		width:90px;
	}

	.actions {
		align: right;

		a {
			width:22px;
			height:16px;
			display:block;
			float:right;
			clear:none;

			&.asset-icon-download {
				background:url(../../../../core/asset/img/icons.png) no-repeat 0 -840px;
			}

			&.asset-icon-delete {
				background:url(../../../../core/asset/img/icons.png) no-repeat 0 -330px;
			}

			&.asset-icon-public {
				background:url(../../../../core/asset/img/icons.png) no-repeat 0 -1081px;

				&.not {
					opacity: 0.3;
				}
			}
		}
	}

	th {
		padding:5px 0 5px 0;
		text-transform:uppercase;
	}

	td {
		padding:3px 0 0 0;
	}

	tr {
		/* Background colors of the rows in the list */
		th {

		}

		&.selected td {
			background-color:$colorCorporate02;
		}
	}
}



/* ------------------------
	Context menu task
   ------------------------ */
#contextmenu .taskContextMenu.task-add-asset {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
	background-position:6px -27px;
}



/* --------------------------
 	Task tab
   --------------------------*/
.tabContent .assetList {
	padding-top:5px;
}
div.task div.taskTabs ul li.assets span.icon {
	background:url(../img/icons.png) no-repeat 0 -25px;
}

th.assetsFilelistHeaderFilenames {
	width:50%;
}

.assetFilesList {
	margin-top:-4px !important;
}

.task span.taskIcons .assets {
	background:url(../img/icons.png) no-repeat 0 -28px;
}


/* --------------------------
 	Field types
   --------------------------*/
.fElement {
	&.typeRecords {
		&.recordsAsset,
		&.recordsTaskAsset,
		&.recordsProjectAsset {
			.recordIcon {
				background:url(../img/icons.png) no-repeat 3px -28px;
			}
		}
	}

	.directUploadBox {
		margin-top: 10px;
		font-size: 14px;
	}
}

/* --------------------------
 	Field types
   --------------------------*/

.project {

	.projectDetailsTab {

		&.assetsProjectTab .icon {
			background:url(../../../project/asset/img/projectheader.png) no-repeat 0px -60px;
		}
	}
}