.mimeIcon {
	background:url('../img/icons.png') no-repeat 0 -87px;
	background-repeat:no-repeat;
}

.mimeTXT,
.mimeRTF {
	background-position:0 -780px;
}

.mimeEML {
	background-position:0 -300px;
}

.mimeXLS,
.mimeXLSX,
.mimeODS {
	background-position:0 -328px;
}

.mimeCSV {
	background-position:0 -882px;
}

.mimePDF {
	background-position:0 -118px;
}

.mimeDOC,
.mimeDOCX,
.mimeSXW,
.mimeODT {
	background-position:0 -388px;
}

.mimeT3X {
	background-position:0 -418px;
}

.mimePHP {
	background-position:0 -358px;
}

.mimePNG,
.mimeJPG,
.mimeGIF,
.mimeBMP,
.mimePSD,
.mimeTIF,
.mimeTIFF {
	background-position:0 -448px;
}

.mimeAI,
.mimeSVG,
.mimeEPS,
.mimeDXF,
.mimeWMF {
	background-position:0 -814px;
}

.mimeAVI,
.mimeMOV,
.mimeRM,
.mimeRAM,
.mimeWMV,
.mimeMPEG,
.mimeMPG,
.mimeMP4 {
	background-position:0 -848px;
}

.mimeHTML,
.mimeHTM,
.mimeTMPL {
	background-position:0 -478px;
}

.mimeXML {
	background-position:0 -508px;
}

.mimeJS {
	background-position:0 -538px;
}

.mimeCSS {
	background-position:0 -568px;
}

.mimePPT,
.mimePPS {
	background-position:0 -598px;
}

.mimeZIP,
.mimeTAR,
.mimeRAR,
.mimeBZ2,
.mimeGZ,
.mime7Z {
	background-position:0 -148px;
}

.mimeEXE,
.mimeBIN,
.mimeCONF {
	background-position:0 -718px;
}