.mimeIcon {
	background:url('../img/icons.png') no-repeat 0 -87px;
	background-repeat:no-repeat;
}

.mimeTXT {
	background-position:0 -780px;
}

.mimeXLS,
.mimeXLSX,
.mimeODS {
	background-position:0 -328px;
}

.mimePDF {
	background-position:0 -118px;
}

.mimeDOC,
.mimeDOCX,
.mimeSXW,
.mimeODT {
	background-position:0 -388px;
}

.mimeT3X {
	background-position:0 -418px;
}

.mimePHP {
	background-position:0 -358px;
}

.mimePNG,
.mimeJPG,
.mimeGIF,
.mimeBMP {
	background-position:0 -448px;
}

.mimeHTML,
.mimeHTM,
.mimeTMPL {
	background-position:0 -478px;
}

.mimeXML {
	background-position:0 -508px;
}

.mimeJS {
	background-position:0 -538px;
}

.mimeCSS {
	background-position:0 -568px;
}

.mimePPT,
.mimePPS {
	background-position:0 -598px;
}

.mimeZIP,
.mimeTAR,
.mimeRAR,
.mimeBZ2,
.mimeGZ {
	background-position:0 -148px;
}

.mimeEXE {
	background-position:0 -718px;
}