<div id="task-{$idTask}-assets-list" class="tabBlock overflow assetList">
	<table id="task-{$idTask}-assettable" class="asset-table" width="100%">
		<thead>
			<tr class="assets-table-header">
				<th class="assets-table-col-checkbox checkbox"><input type="checkbox" id="task-{$idTask}-assets-checkallbox" title="{Label assets.ext.alt.selectall}"/></th>
				<th class="assets-table-col-mime">&nbsp;</th>
				<th class="assets-table-col-filename">{Label core.file.filename}</th>
				<th class="assets-table-col-person">{Label core.global.id_person_create}</th>
				<th class="assets-table-col-filesize">{Label core.file.filesize}</th>
				<th class="assets-table-col-uploaddate" colspan="2">{Label assets.ext.list.header.uploaddate}</th>
			</tr>
		</thead>
		<tbody id="task-{$idTask}-assets-tablebody">
		{foreach $assets key asset assetlist}
			<tr id="asset-{$asset.id}" class="{cycle values="odd,even"} asset">
				<td class="checkbox">
					<input type="checkbox" id="asset-{$asset.id}-checkbox" value="{$asset.id}" />
				</td>
				<td class="mimetype mime{strtoupper $asset.file_ext}">
					<span class="icon"></span>
				</td>
				<td class="filename">
					<a href="javascript:void(0)" title="{Label assets.ext.alt.download}">
						{$asset.file_name}
					</a>
				</td>
				<td class="person">
					{name $asset.id_person_create}
				</td>
				<td class="filesize">
					{fileSize $asset.file_size}
				</td>
				<td class="uploaddate">
					<span title="{Label assets.ext.alt.uploadedby} {name $asset.id_person_create}">{dateFormat $asset.date_create datetime}</span>
				</td>
				<td class="actions">
					{if isInternal()}
						<a id="asset-{$asset.id}-icon-public" href="javascript:void(0)" title="{Label assets.ext.alt.changeVisibility}" class="visibility asset-icon-public {if !$asset.is_public}not{/if}">
							<span class="hidden">{Label assets.ext.alt.changeVisibility}</span>
						</a>
					{/if}
					<a id="asset-{$asset.id}-icon-download" href="javascript:void(0)" title="{Label assets.ext.alt.download}" class="download asset-icon-download">
						<span class="hidden">{Label assets.ext.alt.download}</span>
					</a>
					{if isAssetDeleteAllowed($asset.id)}
						<a id="asset-{$asset.id}-icon-delete" href="javascript:void(0)" title="{Label assets.ext.alt.delete}" class="delete asset-icon-delete">
							<span class="hidden">{Label assets.ext.alt.delete}</span>
						</a>
					{/if}
				</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>
<script type="text/javascript">
Todoyu.Ext.assets.List.addObservers({$idTask});
</script>