<div class="tabBlock overflow assetsButtons" id="task-{$idTask}-assets-commands">
	{Button label="assets.ext.upload.new" class="upload" onclick="Todoyu.Ext.assets.Upload.showForm($idTask)"}
	{Button label="assets.ext.download.selection" class="downloadSelection" onclick="Todoyu.Ext.assets.downloadSelection($idTask)"}
</div>