<thead>
	<tr class="assets-table-header">
		<th class="assets-table-col-checkbox"><input type="checkbox" id="task-{$idTask}-assets-checkallbox" onchange="Todoyu.Ext.assets.List.selectAll({$idTask})" title="{Label assets.alt.selectall}"/></th>
		<th class="assets-table-col-icon"></th>
		<th class="assets-table-col-filename">{Label file.filename}</th>
		<th class="assets-table-col-filesize">{Label file.filesize}</th>
		<th class="assets-table-col-uploaddate" colspan="2">{Label assets.list.header.uploaddate}</th>
	</tr>
</thead>